.markdown-body table {
    overflow-x: scroll; /* 设置自定义滚动条 */
}
​
/* 滚动栏本身的背景 此项必须有 */
.markdown-body table::-webkit-scrollbar { 
    height: 8px;
    background-color: rgba(0, 0, 0, 0.0);
}
​
/*滚动栏下方的空白区域*/
.markdown-body table::-webkit-scrollbar-track {
    background-color: rgba(255, 85, 127, 0.0);
}
​
/* 可拖动滚动元素的大小取决于可滚动元素的大小 */
.markdown-body table::-webkit-scrollbar-thumb{
    background: #ffaaff;
    border-radius: 2px;
}